<!--#######################################-->
<!-- Copyright (c) 2026  Dong Zhaorui.     -->
<!-- All rights reserved.                  -->
<!-- Author: Dong Zhaorui 847235539@qq.com -->
<!-- Date  : 2026-06-30                    -->
<!--#######################################-->

<launch>
    <node name="arm_replay" pkg="hex_ros_arm_replay" type="arm_replay.py" output="screen">
        <!-- load default parameters -->
        <rosparam file="$(find hex_ros_arm_replay)/config/ros1/replay_param.yaml"/>
        <!-- robot model used for dynamics -->
        <param name="model_urdf" value="$(find hex_ros_urdf_archer_y6)/urdf/gr100_comp.urdf"/>
        <!-- subscribe -->
        <remap from="manip_state" to="manip_state"/>
        <remap from="teleop_keyboard_state" to="teleop_keyboard_state"/>
        <!-- publish -->
        <remap from="manip_ctrl" to="manip_ctrl"/>
    </node>
</launch>
