<!--#######################################-->
<!-- Copyright (c) 2026  Dong Zhaorui.     -->
<!-- All rights reserved.                  -->
<!-- Author: Dong Zhaorui 847235539@qq.com -->
<!-- Date  : 2026-06-30                    -->
<!--#######################################-->

<launch>
    <!-- simulation arguments -->
    <arg name="viewer" default="true"/>
    <arg name="rviz" default="true"/>

    <!-- sim environment (mujoco + rviz, no built-in test ctrl) -->
    <include file="$(find hex_ros_sim_archer_y6)/launch/ros1/sim_archer_y6.launch">
        <arg name="viewer" value="$(arg viewer)"/>
        <arg name="rviz" value="$(arg rviz)"/>
        <arg name="test" value="false"/>
    </include>

    <!-- keyboard teleop -->
    <include file="$(find hex_ros_teleop_keyboard)/launch/ros1/teleop_keyboard.launch"/>

    <!-- arm replay node -->
    <include file="$(find hex_ros_demo_arm_replay)/launch/ros1/arm_replay.launch"/>
</launch>
